.uiux {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 50px 170px;
  }
  
  .uiux-title {
    position: relative;
  }
  
  .uiux-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    padding-top: 80px;
  }
  
  .uiux-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 120px;
    height: auto;
    top: 110px;
  }
  
  .project-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .project-header h2 {
    font-size: 32px;
    margin: 0;
  }
  
  .project-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  
  .project-images-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
  }
  
  .project-images-row img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .project-images-row img:hover {
    transform: scale(1.05);
    border: 3px solid #ff0fff;
  }
  
  .project-description-below {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .project-description-below a {
    color: cyan;
    text-decoration: none;
  }
  
  .project-description-below a:hover {
    text-decoration: underline;
  }
  
  
  @media (max-width: 1050px) {
    .uiux {
      margin: 50px 100px;
      gap: 60px;
    }
  
    .uiux-title h1 {
      font-size: 60px;
      padding: 0 20px;
    }
  
    .uiux-title img {
      width: 90px;
      top: 20px;
    }
  
    .project-images-row {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .project-description-below {
      font-size: 15px;
      text-align: left;
      margin-top: 40px;
    }
  }
  
  
  @media (max-width: 768px) {
    .uiux {
      margin: 50px 30px;
      gap: 50px;
    }
  
    .uiux-title h1 {
      font-size: 36px;
      padding: 0 10px;
    }
  
    .uiux-title img {
      width: 70px;
      top: 15px;
    }
  
    .project-images-row {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  
    .project-description-below {
      font-size: 14px;
      margin-top: 0;
    }
  
    .project-header h2 {
      font-size: 24px;
      text-align: left;
      margin-top: 30px;
    }
  }