.uiux {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

    scroll-margin-top: 120px;
}

.uiux-title {
  position: relative;
}

.uiux-title h1 {
  padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
}

.uiux-title img {
  position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 120px;
    height: auto;
    top: 30px;
}

.project-card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  padding: 35px;
  transition: 0.3s;
}

.project-card:hover {
  border-color: #b415ff;
}

.project-header {
  margin-bottom: 30px;
}

.project-header h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.project-meta {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.project-meta span {
  padding: 8px 16px;
  border-radius: 20px;
  background: rgba(255,255,255,0.08);
  font-size: 14px;
}

.project-hero img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.project-hero img:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 35px rgba(180,21,255,0.3);
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 25px;
}

.project-tags span {
  padding: 8px 14px;
  border-radius: 30px;
  font-size: 13px;
  background: linear-gradient(
    90deg,
    rgba(223,137,8,0.2),
    rgba(180,21,255,0.2)
  );
  border: 1px solid rgba(255,255,255,0.08);
}

.project-description {
  margin-bottom: 30px;
}

.project-description p {
  line-height: 1.8;
  color: #d5d5d5;
  font-size: 16px;
}

.project-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px;
}

.project-gallery img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.project-gallery img:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(180,21,255,0.25);
}

@media (max-width: 1050px) {

  .uiux {
    margin: 50px 80px;
  }

  .uiux-title h1 {
    font-size: 60px;
  }

  .project-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {

  .uiux {
    margin: 50px 25px;
  }

  .uiux-title h1 {
    font-size: 42px;
  }

  .uiux-title img {
    width: 70px;
    right: 40px;
    top: 25px;
  }

  .project-card {
    padding: 20px;
  }

  .project-header h2 {
    font-size: 24px;
  }

  .project-meta {
    flex-direction: column;
  }

  .project-gallery {
    grid-template-columns: 1fr;
  }

  .project-gallery img {
    height: auto;
  }

}